/* game board table */
body {
  background-color: rgb(89, 89, 180);
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(173, 174, 255);
  border-radius: 5%%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: dropDown;
  animation-duration: 1.5s;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

@keyframes dropDown {
  from {
    transform: translateY(-400px);
  }
  to { 
    transform: translateY(0px);
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
